@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&family=Inter:wght@400;600&display=swap');

:root {
    --bg-app: #F0EDE6;     
    --toolbar: #1C1C1E;    
    --accent: #E8572A;     
    --white: #ffffff;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-app);
}

#toolbar {
    background-color: var(--toolbar);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.tool-group {
    color: #F0EDE6;
    font-size: 0.9rem; 
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

#toolbar button {
    background: rgba(255, 255, 255, 0.1);
    color: var(--bg-app); ;
    border: none;
    padding: 10px 18px;
    border-radius: 12px; 
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#toolbar button:hover {
    background: var(--accent);
    transform: translateY(-2px);
}

#colorPicker {
    width: 35px;
    height: 35px;
    border: 3px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    cursor: pointer;
    background: none;
    color: var(--bg-app);
}

#colorPicker::-webkit-color-swatch { 
    border: none; 
    border-radius: 50%; 
}

input[type="range"] {
    accent-color: var(--accent);
    width: 100px;
}

#shapeSelector {
    background: rgba(255,255,255,0.1);
    color: var(--bg-app);
    border: 1px solid rgba(255,255,255,0.2);
    padding: 8px 12px;
    border-radius: 10px;
    outline: none;
}

#theme-toggle {
    background-color: var(--accent) !important;
    border-radius: 50px !important;
}

#canvas {
    display: block;
    background-color: var(--bg-app);
    cursor: crosshair;
}

.landing-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    font-family: 'Syne', sans-serif;
    font-size: 5rem;
    color: var(--toolbar);
    letter-spacing: -3px;
}

.start-button {
    background-color: var(--toolbar);
    color: var(--bg-app);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 700;
    font-family: 'Syne', sans-serif;
    transition: 0.3s;
}

.start-button:hover {
    background-color: var(--accent);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1C1C1E;
  transition: 0.4s;
  border-radius: 40px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 6px;
  background-color: #F0EDE6;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #E8572A;
}

input:checked + .slider:before {
  transform: translateX(26px);
}